.DS_Store
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
dist/
build/
native/build*/
*.egg-info/
dng_sdk_*/
tmp/
*.log
*.dng
*.DNG
*.ORF
*.orf
*.ORI
*.ori
*.tif
*.TIF
*.tiff
*.TIFF
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
bin/
obj/